/* nav -------- */

body{
    font-family: 'Lemonada', cursive;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lobster Two', cursive;
}

.main-title{

    color: goldenrod !important;
    font-size: 26px;
}


/* footer anterior -------- */
/*
footer{
    background: #222;
    text-align: center;
    color: goldenrod;
    
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top:308px;
    margin-bottom: 0px;

}

*/


/* footer nuevo-------- */

footer{
    background: #222;
    padding: 20px;
    text-align: center;
    color: goldenrod;
    
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top:308px;
    margin-bottom: 0px;

}

ul.redes li{
    display: inline-block;

}

ul.redes li a{
    color: goldenrod;
}

.avatar{
    border: 5px solid goldenrod;
    border-radius: 50%;
    float: left;
    height: 100px;
    width: 100px;

}

/* catalogo -------- */

#cervezas {
    position: relative;
    max-width: 100%;
    width: 100%;
    }
    img {
    width: 100%;
    max-width: 100%;
    height: auto;
    }
    .white-panel {
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    padding: 10px;
    }
    .white-panel h1 {
    font-size: 1em;
    }
    .white-panel h1 a {
    color: #A92733;
    }
    .white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }


/* detalle-Cerveza -------- */

    .page-header{
        color: goldenrod;
    }

    .cerveza-bloque{
        background: #fff;
        border-radius: 1em;
        padding: 1em;
    }

/* slider -------- */

.navbar{
    margin-bottom: 0;
}

.carousel-item img {
    height: 50vh;
  }


/* Carrito de compras -------- */

.table-cart
{
    background: #fff;
    border-radius: 1em;
    margin-bottom: 30px;
    padding: 1em;

}

.table-cart img
{
    width: 50px;
}


/* login -------- */

.login h1{
    color: goldenrod;
}

.login a{
    color: blue;
}

/* Problemas con z-index */

.dropdown-item
{
    z-index: 1000!;
    background-color: white;
    position: relative;
}

.sticky-top
{

    z-index: 1;
}

.logeo-card
{
    background-image:url("../imagenes/login.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}