
/* navegador */

.dropdown-item
{
    z-index: 1000!;
    background-color: white;
    position: relative;
}

body{
    font-family: 'Lemonada', cursive;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lobster Two', cursive;
}

/* home -------- */

.btn-home-admin
{
    font-size: 25px;
}

.page-header
{
    color: goldenrod;
}

/* footer -------- */

footer{
    background: #222;
    padding: 20px;
    text-align: center;
    color: goldenrod;
    
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top:334px;
    margin-bottom: 0px;

}

.page

{
    background: #fff;
    border-radius: 1em;
    margin: 1em;
    min-height: 500px;
    padding: 1em;
    
}

.card-header
{
    color: goldenrod;
}


/* admin abml */

.sticky-top
{

    z-index: 1;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5; /*background-scroll color*/
}

::-webkit-scrollbar
{
width: 8px;
background-color: #F5F5F5; /*background-scroll color*/
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:  grey;  /*scrollbar color*/
}

/* carga del camion */

.carga{
    position: absolute;
    padding-right: 250px;
    padding-bottom: 130px;
    padding-left: 20px; 
    z-index: 1;
  }
  
  .camion
  {
    height:600px;
    width:600px;
    z-index: -1;
  }